body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u611 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u612 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u613 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u614 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u615 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u616 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u617 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u618 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u619 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u621 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u623 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u625 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u627 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u629 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u631 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u632 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u633 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u635 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u636 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u637 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u638 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u639 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u640 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u641 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u642 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u643 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u645 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u647 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:612px;
}
#u649 {
  position:absolute;
  left:218px;
  top:99px;
  width:960px;
  height:612px;
}
#u650 {
  position:absolute;
  left:2px;
  top:298px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u651 {
  position:absolute;
  left:453px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u653 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u655 {
  position:absolute;
  left:302px;
  top:120px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u657 {
  position:absolute;
  left:302px;
  top:172px;
  width:109px;
  height:65px;
}
#u658 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u659 {
  position:absolute;
  left:302px;
  top:262px;
  width:70px;
  height:25px;
}
#u660 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u661 {
  position:absolute;
  left:238px;
  top:721px;
  width:46px;
  height:25px;
}
#u661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u661_input {
  color:#333333;
}
#u661_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:52px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u661_ann {
  position:absolute;
  left:277px;
  top:717px;
  width:1px;
  height:1px;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u662 {
  position:absolute;
  left:100px;
  top:130px;
  width:90px;
  height:43px;
}
#u663 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u664 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u666 {
  position:absolute;
  left:785px;
  top:120px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u668 {
  position:absolute;
  left:238px;
  top:151px;
  width:940px;
  height:1px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u670 {
  position:absolute;
  left:453px;
  top:179px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u672 {
  position:absolute;
  left:785px;
  top:196px;
  width:15px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u674 {
  position:absolute;
  left:607px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u676 {
  position:absolute;
  left:607px;
  top:179px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u678 {
  position:absolute;
  left:1005px;
  top:120px;
  width:25px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u680 {
  position:absolute;
  left:1005px;
  top:179px;
  width:37px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u680_ann {
  position:absolute;
  left:1035px;
  top:175px;
  width:1px;
  height:1px;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u682 {
  position:absolute;
  left:398px;
  top:262px;
  width:70px;
  height:25px;
}
#u683 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u684 {
  position:absolute;
  left:238px;
  top:308px;
  width:940px;
  height:1px;
}
#u685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u686 {
  position:absolute;
  left:302px;
  top:333px;
  width:109px;
  height:65px;
}
#u687 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u688 {
  position:absolute;
  left:302px;
  top:423px;
  width:70px;
  height:25px;
}
#u689 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u690 {
  position:absolute;
  left:453px;
  top:340px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u692 {
  position:absolute;
  left:785px;
  top:357px;
  width:15px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u694 {
  position:absolute;
  left:607px;
  top:340px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u696 {
  position:absolute;
  left:1005px;
  top:340px;
  width:37px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u698 {
  position:absolute;
  left:398px;
  top:423px;
  width:70px;
  height:25px;
}
#u699 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u700 {
  position:absolute;
  left:238px;
  top:469px;
  width:940px;
  height:1px;
}
#u701 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u702 {
  position:absolute;
  left:302px;
  top:487px;
  width:109px;
  height:65px;
}
#u703 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u704 {
  position:absolute;
  left:453px;
  top:494px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u706 {
  position:absolute;
  left:785px;
  top:511px;
  width:15px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u708 {
  position:absolute;
  left:607px;
  top:494px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u710 {
  position:absolute;
  left:1005px;
  top:494px;
  width:37px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u712 {
  position:absolute;
  left:238px;
  top:75px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u714 {
  position:absolute;
  left:238px;
  top:120px;
  width:46px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u716 {
  position:absolute;
  left:241px;
  top:192px;
  width:43px;
  height:25px;
}
#u716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u716_input {
  color:#000000;
}
#u716_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u717 {
  position:absolute;
  left:241px;
  top:353px;
  width:43px;
  height:25px;
}
#u717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u717_input {
  color:#000000;
}
#u717_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u718 {
  position:absolute;
  left:241px;
  top:501px;
  width:43px;
  height:25px;
}
#u718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u718_input {
  color:#000000;
}
#u718_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
