body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2461 {
  position:absolute;
  left:0px;
  top:-6px;
  width:1200px;
  height:1000px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2463 {
  position:absolute;
  left:100px;
  top:474px;
  width:140px;
  height:40px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2465 {
  position:absolute;
  left:260px;
  top:474px;
  width:140px;
  height:40px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2465_ann {
  position:absolute;
  left:393px;
  top:470px;
  width:1px;
  height:1px;
}
#u2467 {
  position:absolute;
  left:102px;
  top:69px;
  width:1004px;
  height:356px;
}
#u2467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:356px;
}
#u2467_ann {
  position:absolute;
  left:1099px;
  top:65px;
  width:1px;
  height:1px;
}
#u2467_ref {
  position:absolute;
  left:1098px;
  top:415px;
  width:1px;
  height:1px;
}
#u2468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:321px;
}
#u2468 {
  position:absolute;
  left:571px;
  top:481px;
  width:535px;
  height:321px;
}
#u2469 {
  position:absolute;
  left:2px;
  top:152px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_ann {
  position:absolute;
  left:1099px;
  top:477px;
  width:1px;
  height:1px;
}
#u2470 {
  position:absolute;
  left:619px;
  top:552px;
  width:439px;
  height:170px;
}
#u2470_input {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2470_input {
  color:#000000;
}
#u2470_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:445px;
  height:176px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2471 {
  position:absolute;
  left:619px;
  top:508px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2472 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2473 {
  position:absolute;
  left:619px;
  top:744px;
  width:140px;
  height:25px;
}
#u2473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2473_input {
  color:#333333;
}
#u2473_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2474 {
  position:absolute;
  left:1086px;
  top:481px;
  width:20px;
  height:20px;
}
#u2475 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
