body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1947 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1949 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1951 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1953 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1955 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1957 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1959 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u1961 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1963 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u1965 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1967 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u1969 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u1971 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1973 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1975 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1977 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:612px;
}
#u1979 {
  position:absolute;
  left:218px;
  top:99px;
  width:960px;
  height:612px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:298px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1981 {
  position:absolute;
  left:453px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1983 {
  position:absolute;
  left:238px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1985 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1987 {
  position:absolute;
  left:576px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1989 {
  position:absolute;
  left:302px;
  top:120px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u1991 {
  position:absolute;
  left:100px;
  top:130px;
  width:90px;
  height:43px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1993 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u1995 {
  position:absolute;
  left:238px;
  top:151px;
  width:940px;
  height:1px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1997 {
  position:absolute;
  left:866px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u1999 {
  position:absolute;
  left:238px;
  top:352px;
  width:940px;
  height:1px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u2001 {
  position:absolute;
  left:302px;
  top:170px;
  width:109px;
  height:65px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u2003 {
  position:absolute;
  left:453px;
  top:177px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2005 {
  position:absolute;
  left:725px;
  top:177px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2007 {
  position:absolute;
  left:866px;
  top:177px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u2009 {
  position:absolute;
  left:238px;
  top:252px;
  width:940px;
  height:1px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u2011 {
  position:absolute;
  left:302px;
  top:271px;
  width:109px;
  height:65px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u2013 {
  position:absolute;
  left:453px;
  top:278px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2015 {
  position:absolute;
  left:725px;
  top:278px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2017 {
  position:absolute;
  left:866px;
  top:278px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u2019 {
  position:absolute;
  left:238px;
  top:120px;
  width:46px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2021 {
  position:absolute;
  left:1039px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2023 {
  position:absolute;
  left:1039px;
  top:190px;
  width:70px;
  height:25px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2025 {
  position:absolute;
  left:1039px;
  top:291px;
  width:70px;
  height:25px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2027 {
  position:absolute;
  left:576px;
  top:194px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2029 {
  position:absolute;
  left:576px;
  top:295px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u2031 {
  position:absolute;
  left:238px;
  top:177px;
  width:43px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u2033 {
  position:absolute;
  left:238px;
  top:282px;
  width:43px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2035 {
  position:absolute;
  left:725px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2037 {
  position:absolute;
  left:238px;
  top:75px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2039 {
  position:absolute;
  left:315px;
  top:75px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2041 {
  position:absolute;
  left:398px;
  top:75px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2043 {
  position:absolute;
  left:483px;
  top:75px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
