body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2608 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2610 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2611 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2612 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2614 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2615 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2616 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2617 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2618 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2619 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2620 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2622 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2624 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2625 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2626 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u2628 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2630 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2631 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u2632 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2634 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2636 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2637 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u2638 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2640 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2641 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2642 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2643 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2644 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2645 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:612px;
}
#u2646 {
  position:absolute;
  left:218px;
  top:99px;
  width:960px;
  height:612px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:298px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2648 {
  position:absolute;
  left:453px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2649 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2650 {
  position:absolute;
  left:238px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2651 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2652 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2653 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2654 {
  position:absolute;
  left:576px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2655 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2656 {
  position:absolute;
  left:302px;
  top:120px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2657 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u2658 {
  position:absolute;
  left:100px;
  top:130px;
  width:90px;
  height:43px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2660 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2661 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u2662 {
  position:absolute;
  left:238px;
  top:151px;
  width:940px;
  height:1px;
}
#u2663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2664 {
  position:absolute;
  left:866px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2665 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u2666 {
  position:absolute;
  left:238px;
  top:352px;
  width:940px;
  height:1px;
}
#u2667 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u2668 {
  position:absolute;
  left:302px;
  top:170px;
  width:109px;
  height:65px;
}
#u2669 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u2670 {
  position:absolute;
  left:453px;
  top:177px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2671 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2672 {
  position:absolute;
  left:725px;
  top:177px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2673 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2674 {
  position:absolute;
  left:866px;
  top:177px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2675 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:2px;
}
#u2676 {
  position:absolute;
  left:238px;
  top:252px;
  width:940px;
  height:1px;
}
#u2677 {
  position:absolute;
  left:2px;
  top:-8px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:65px;
}
#u2678 {
  position:absolute;
  left:302px;
  top:271px;
  width:109px;
  height:65px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:24px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u2680 {
  position:absolute;
  left:453px;
  top:278px;
  width:97px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2681 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2682 {
  position:absolute;
  left:725px;
  top:278px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2683 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:51px;
}
#u2684 {
  position:absolute;
  left:866px;
  top:278px;
  width:111px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2685 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u2686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u2686 {
  position:absolute;
  left:238px;
  top:120px;
  width:46px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2687 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2688 {
  position:absolute;
  left:1039px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2689 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2690 {
  position:absolute;
  left:1039px;
  top:190px;
  width:70px;
  height:25px;
}
#u2691 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2692 {
  position:absolute;
  left:1039px;
  top:291px;
  width:70px;
  height:25px;
}
#u2693 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2694 {
  position:absolute;
  left:576px;
  top:194px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2696 {
  position:absolute;
  left:576px;
  top:295px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2697 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u2698 {
  position:absolute;
  left:238px;
  top:177px;
  width:43px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2699 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u2700 {
  position:absolute;
  left:238px;
  top:282px;
  width:43px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2701 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u2702 {
  position:absolute;
  left:725px;
  top:120px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2703 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2704 {
  position:absolute;
  left:238px;
  top:75px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2706 {
  position:absolute;
  left:315px;
  top:75px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2707 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2708 {
  position:absolute;
  left:398px;
  top:75px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2709 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2710 {
  position:absolute;
  left:483px;
  top:75px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2711 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
