body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u1621 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u1622 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u1623 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1625 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u1626 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1627 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1628 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1629 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1630 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1631 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1633 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1634 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1635 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1636 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1637 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1638 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1639 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u1641 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u1642 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1643 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1644 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u1645 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1647 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u1648 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u1649 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u1650 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u1651 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1653 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1654 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1655 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1656 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1657 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1658 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u1659 {
  position:absolute;
  left:100px;
  top:130px;
  width:90px;
  height:43px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1661 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1662 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1663 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1664 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1665 {
  position:absolute;
  left:121px;
  top:190px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1666 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1667 {
  position:absolute;
  left:121px;
  top:239px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:160px;
}
#u1669 {
  position:absolute;
  left:219px;
  top:115px;
  width:960px;
  height:160px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:72px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:127px;
}
#u1671 {
  position:absolute;
  left:229px;
  top:133px;
  width:634px;
  height:127px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:56px;
  width:630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1673 {
  position:absolute;
  left:356px;
  top:184px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1674 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1675 {
  position:absolute;
  left:251px;
  top:152px;
  width:80px;
  height:80px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u1677 {
  position:absolute;
  left:356px;
  top:154px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1679 {
  position:absolute;
  left:356px;
  top:211px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1681 {
  position:absolute;
  left:429px;
  top:211px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1683 {
  position:absolute;
  left:502px;
  top:211px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1685 {
  position:absolute;
  left:502px;
  top:184px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u1687 {
  position:absolute;
  left:680px;
  top:154px;
  width:171px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u1689 {
  position:absolute;
  left:680px;
  top:211px;
  width:171px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1691 {
  position:absolute;
  left:238px;
  top:76px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u1693 {
  position:absolute;
  left:219px;
  top:317px;
  width:960px;
  height:199px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1695 {
  position:absolute;
  left:238px;
  top:287px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:127px;
}
#u1697 {
  position:absolute;
  left:873px;
  top:133px;
  width:291px;
  height:127px;
}
#u1698 {
  position:absolute;
  left:2px;
  top:56px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_ann {
  position:absolute;
  left:1157px;
  top:129px;
  width:1px;
  height:1px;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1699 {
  position:absolute;
  left:890px;
  top:154px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1701 {
  position:absolute;
  left:890px;
  top:187px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u1703 {
  position:absolute;
  left:680px;
  top:178px;
  width:171px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1705 {
  position:absolute;
  left:1061px;
  top:152px;
  width:80px;
  height:80px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1707 {
  position:absolute;
  left:238px;
  top:344px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1708 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1709 {
  position:absolute;
  left:238px;
  top:430px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1710 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:426px;
}
#u1711 {
  position:absolute;
  left:219px;
  top:565px;
  width:960px;
  height:426px;
}
#u1712 {
  position:absolute;
  left:2px;
  top:205px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u1713 {
  position:absolute;
  left:238px;
  top:535px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1714 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:127px;
}
#u1716 {
  position:absolute;
  left:231px;
  top:578px;
  width:940px;
  height:127px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:56px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1718 {
  position:absolute;
  left:358px;
  top:629px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1720 {
  position:absolute;
  left:253px;
  top:597px;
  width:80px;
  height:80px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u1722 {
  position:absolute;
  left:358px;
  top:599px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1724 {
  position:absolute;
  left:358px;
  top:656px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1726 {
  position:absolute;
  left:431px;
  top:656px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1728 {
  position:absolute;
  left:504px;
  top:656px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1730 {
  position:absolute;
  left:504px;
  top:629px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u1732 {
  position:absolute;
  left:975px;
  top:599px;
  width:171px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1733 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u1734 {
  position:absolute;
  left:975px;
  top:656px;
  width:171px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:127px;
}
#u1737 {
  position:absolute;
  left:231px;
  top:715px;
  width:940px;
  height:127px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:56px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1739 {
  position:absolute;
  left:358px;
  top:766px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1740 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1741 {
  position:absolute;
  left:253px;
  top:734px;
  width:80px;
  height:80px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u1743 {
  position:absolute;
  left:358px;
  top:736px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1744 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1745 {
  position:absolute;
  left:358px;
  top:793px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1747 {
  position:absolute;
  left:431px;
  top:793px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1749 {
  position:absolute;
  left:504px;
  top:793px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1750 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1751 {
  position:absolute;
  left:504px;
  top:766px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1752 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u1753 {
  position:absolute;
  left:975px;
  top:736px;
  width:171px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1754 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u1755 {
  position:absolute;
  left:975px;
  top:793px;
  width:171px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u1756 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:127px;
}
#u1758 {
  position:absolute;
  left:231px;
  top:852px;
  width:940px;
  height:127px;
}
#u1759 {
  position:absolute;
  left:2px;
  top:56px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1760 {
  position:absolute;
  left:358px;
  top:903px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1761 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1762 {
  position:absolute;
  left:253px;
  top:871px;
  width:80px;
  height:80px;
}
#u1763 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u1764 {
  position:absolute;
  left:358px;
  top:873px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1765 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1766 {
  position:absolute;
  left:358px;
  top:930px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1767 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1768 {
  position:absolute;
  left:431px;
  top:930px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1769 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u1770 {
  position:absolute;
  left:504px;
  top:930px;
  width:63px;
  height:23px;
  font-size:10px;
}
#u1771 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u1772 {
  position:absolute;
  left:504px;
  top:903px;
  width:61px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1773 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u1774 {
  position:absolute;
  left:975px;
  top:873px;
  width:171px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u1776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u1776 {
  position:absolute;
  left:975px;
  top:930px;
  width:171px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u1777 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
