body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2309 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2313 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2315 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2316 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2317 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2319 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2320 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2321 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2323 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2325 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u2327 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2329 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u2331 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2333 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2335 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u2337 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2339 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2340 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2341 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2342 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2343 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:231px;
}
#u2345 {
  position:absolute;
  left:218px;
  top:104px;
  width:960px;
  height:231px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:108px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u2347 {
  position:absolute;
  left:238px;
  top:76px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2348 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2349 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2350 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u2351 {
  position:absolute;
  left:100px;
  top:71px;
  width:90px;
  height:43px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2353 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2354 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:17px;
}
#u2355 {
  position:absolute;
  left:238px;
  top:117px;
  width:205px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2356 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u2357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:171px;
}
#u2357 {
  position:absolute;
  left:218px;
  top:372px;
  width:960px;
  height:171px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:78px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2359 {
  position:absolute;
  left:252px;
  top:405px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2361 {
  position:absolute;
  left:238px;
  top:344px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2362 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2363 {
  position:absolute;
  left:252px;
  top:446px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2364 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2365 {
  position:absolute;
  left:252px;
  top:484px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2366 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2367 {
  position:absolute;
  left:330px;
  top:404px;
  width:300px;
  height:25px;
}
#u2367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2367_input {
  color:#000000;
}
#u2367_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2368 {
  position:absolute;
  left:330px;
  top:440px;
  width:300px;
  height:25px;
}
#u2368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2368_input {
  color:#000000;
}
#u2368_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2369 {
  position:absolute;
  left:633px;
  top:568px;
  width:140px;
  height:25px;
}
#u2369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2369_input {
  color:#333333;
}
#u2369_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2370 {
  position:absolute;
  left:330px;
  top:480px;
  width:300px;
  height:25px;
}
#u2370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2370_input {
  color:#000000;
}
#u2370_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u2371 {
  position:absolute;
  left:238px;
  top:211px;
  width:108px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u2373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u2373 {
  position:absolute;
  left:380px;
  top:211px;
  width:46px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2374 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2375 {
  position:absolute;
  left:270px;
  top:293px;
  width:70px;
  height:25px;
}
#u2376 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
