body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2133 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2135 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2137 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2139 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2141 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2143 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2145 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u2147 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2149 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u2151 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2153 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2155 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u2157 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2159 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2161 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2163 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:716px;
}
#u2165 {
  position:absolute;
  left:218px;
  top:99px;
  width:960px;
  height:716px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:350px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2167 {
  position:absolute;
  left:252px;
  top:132px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2169 {
  position:absolute;
  left:238px;
  top:75px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u2171 {
  position:absolute;
  left:100px;
  top:130px;
  width:90px;
  height:43px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2173 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u2175 {
  position:absolute;
  left:252px;
  top:173px;
  width:69px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2177 {
  position:absolute;
  left:330px;
  top:131px;
  width:300px;
  height:25px;
}
#u2177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2177_input {
  color:#000000;
}
#u2177_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2177_ann {
  position:absolute;
  left:623px;
  top:127px;
  width:1px;
  height:1px;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2178 {
  position:absolute;
  left:252px;
  top:316px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2180 {
  position:absolute;
  left:330px;
  top:310px;
  width:120px;
  height:120px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2182 {
  position:absolute;
  left:330px;
  top:441px;
  width:70px;
  height:25px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:72px;
}
#u2184 {
  position:absolute;
  left:482px;
  top:181px;
  width:365px;
  height:72px;
  line-height:24px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2186 {
  position:absolute;
  left:252px;
  top:487px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2188 {
  position:absolute;
  left:330px;
  top:486px;
  width:300px;
  height:22px;
}
#u2188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2188_input {
  color:#000000;
}
#u2188_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2188_input:disabled {
  color:grayText;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u2189 {
  position:absolute;
  left:252px;
  top:527px;
  width:70px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2191 {
  position:absolute;
  left:330px;
  top:523px;
  width:300px;
  height:25px;
}
#u2191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2191_input {
  color:#000000;
}
#u2191_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u2192 {
  position:absolute;
  left:671px;
  top:528px;
  width:70px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2194 {
  position:absolute;
  left:749px;
  top:524px;
  width:300px;
  height:25px;
}
#u2194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2194_input {
  color:#000000;
}
#u2194_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2195 {
  position:absolute;
  left:252px;
  top:566px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2197 {
  position:absolute;
  left:330px;
  top:562px;
  width:300px;
  height:25px;
}
#u2197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2197_input {
  color:#000000;
}
#u2197_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2198 {
  position:absolute;
  left:252px;
  top:605px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2200 {
  position:absolute;
  left:330px;
  top:603px;
  width:79px;
  height:22px;
}
#u2200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2200_input {
  color:#000000;
}
#u2200_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:85px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2200_input:disabled {
  color:grayText;
}
#u2201 {
  position:absolute;
  left:418px;
  top:602px;
  width:300px;
  height:25px;
}
#u2201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2201_input {
  color:#000000;
}
#u2201_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2202 {
  position:absolute;
  left:330px;
  top:173px;
  width:80px;
  height:80px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2204 {
  position:absolute;
  left:330px;
  top:269px;
  width:70px;
  height:25px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:72px;
}
#u2206 {
  position:absolute;
  left:482px;
  top:327px;
  width:400px;
  height:72px;
  line-height:24px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2208 {
  position:absolute;
  left:728px;
  top:605px;
  width:15px;
  height:15px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_ann {
  position:absolute;
  left:736px;
  top:601px;
  width:1px;
  height:1px;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2210 {
  position:absolute;
  left:252px;
  top:646px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2212 {
  position:absolute;
  left:238px;
  top:683px;
  width:923px;
  height:111px;
}
#u2212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:111px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2212_input {
  color:#000000;
}
#u2212_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:929px;
  height:117px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2213 {
  position:absolute;
  left:633px;
  top:837px;
  width:140px;
  height:25px;
}
#u2213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2213_input {
  color:#333333;
}
#u2213_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2214 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
