body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u1819 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1822 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1824 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1826 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1828 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1830 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1832 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1834 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1836 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1837 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u1838 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1840 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u1842 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1844 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u1846 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u1848 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1850 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u1852 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1854 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:462px;
}
#u1856 {
  position:absolute;
  left:218px;
  top:613px;
  width:960px;
  height:462px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:223px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1858 {
  position:absolute;
  left:252px;
  top:646px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1860 {
  position:absolute;
  left:238px;
  top:530px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1862 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1864 {
  position:absolute;
  left:238px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u1866 {
  position:absolute;
  left:100px;
  top:71px;
  width:90px;
  height:43px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1868 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1870 {
  position:absolute;
  left:252px;
  top:687px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1872 {
  position:absolute;
  left:252px;
  top:725px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1874 {
  position:absolute;
  left:330px;
  top:645px;
  width:300px;
  height:25px;
}
#u1874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1874_input {
  color:#000000;
}
#u1874_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1874_ann {
  position:absolute;
  left:623px;
  top:641px;
  width:1px;
  height:1px;
}
#u1875 {
  position:absolute;
  left:330px;
  top:723px;
  width:79px;
  height:22px;
}
#u1875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1875_input {
  color:#000000;
}
#u1875_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:85px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1875_input:disabled {
  color:grayText;
}
#u1876 {
  position:absolute;
  left:418px;
  top:722px;
  width:300px;
  height:25px;
}
#u1876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1876_input {
  color:#000000;
}
#u1876_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1877 {
  position:absolute;
  left:727px;
  top:727px;
  width:15px;
  height:15px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_ann {
  position:absolute;
  left:735px;
  top:723px;
  width:1px;
  height:1px;
}
#u1879 {
  position:absolute;
  left:330px;
  top:681px;
  width:300px;
  height:25px;
}
#u1879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1879_input {
  color:#000000;
}
#u1879_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1879_ann {
  position:absolute;
  left:623px;
  top:677px;
  width:1px;
  height:1px;
}
#u1880 {
  position:absolute;
  left:659px;
  top:681px;
  width:300px;
  height:25px;
}
#u1880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1880_input {
  color:#000000;
}
#u1880_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1880_ann {
  position:absolute;
  left:952px;
  top:677px;
  width:1px;
  height:1px;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1881 {
  position:absolute;
  left:252px;
  top:766px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u1883 {
  position:absolute;
  left:330px;
  top:766px;
  width:300px;
  height:170px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u1885 {
  position:absolute;
  left:330px;
  top:946px;
  width:70px;
  height:25px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:144px;
}
#u1887 {
  position:absolute;
  left:648px;
  top:766px;
  width:365px;
  height:144px;
  line-height:24px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1889 {
  position:absolute;
  left:252px;
  top:992px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1891 {
  position:absolute;
  left:330px;
  top:991px;
  width:300px;
  height:22px;
}
#u1891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1891_input {
  color:#000000;
}
#u1891_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1891_input:disabled {
  color:grayText;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1892 {
  position:absolute;
  left:659px;
  top:992px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1894 {
  position:absolute;
  left:737px;
  top:991px;
  width:300px;
  height:22px;
}
#u1894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1894_input {
  color:#000000;
}
#u1894_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1894_input:disabled {
  color:grayText;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1895 {
  position:absolute;
  left:252px;
  top:1032px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1897 {
  position:absolute;
  left:330px;
  top:1028px;
  width:79px;
  height:25px;
}
#u1897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1897_input {
  color:#000000;
}
#u1897_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:85px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1897_ann {
  position:absolute;
  left:402px;
  top:1024px;
  width:1px;
  height:1px;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:149px;
}
#u1898 {
  position:absolute;
  left:218px;
  top:1118px;
  width:960px;
  height:149px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:66px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1900 {
  position:absolute;
  left:237px;
  top:1091px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1902 {
  position:absolute;
  left:238px;
  top:1137px;
  width:923px;
  height:111px;
}
#u1902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:111px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1902_input {
  color:#000000;
}
#u1902_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:929px;
  height:117px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:149px;
}
#u1903 {
  position:absolute;
  left:218px;
  top:1298px;
  width:960px;
  height:149px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:66px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1905 {
  position:absolute;
  left:238px;
  top:1274px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1907 {
  position:absolute;
  left:633px;
  top:1465px;
  width:140px;
  height:25px;
}
#u1907_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1907_input {
  color:#333333;
}
#u1907_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:476px;
}
#u1908 {
  position:absolute;
  left:218px;
  top:101px;
  width:960px;
  height:476px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:230px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1910 {
  position:absolute;
  left:238px;
  top:77px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1912 {
  position:absolute;
  left:252px;
  top:114px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1914 {
  position:absolute;
  left:330px;
  top:113px;
  width:300px;
  height:25px;
}
#u1914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1914_input {
  color:#000000;
}
#u1914_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u1915 {
  position:absolute;
  left:252px;
  top:155px;
  width:69px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:72px;
}
#u1917 {
  position:absolute;
  left:482px;
  top:163px;
  width:365px;
  height:72px;
  line-height:24px;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1919 {
  position:absolute;
  left:330px;
  top:155px;
  width:80px;
  height:80px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u1921 {
  position:absolute;
  left:330px;
  top:251px;
  width:70px;
  height:25px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1923 {
  position:absolute;
  left:252px;
  top:287px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1925 {
  position:absolute;
  left:330px;
  top:286px;
  width:300px;
  height:22px;
}
#u1925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1925_input {
  color:#000000;
}
#u1925_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1925_input:disabled {
  color:grayText;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u1926 {
  position:absolute;
  left:252px;
  top:332px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1928 {
  position:absolute;
  left:330px;
  top:328px;
  width:300px;
  height:25px;
}
#u1928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1928_input {
  color:#000000;
}
#u1928_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1929 {
  position:absolute;
  left:252px;
  top:371px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1931 {
  position:absolute;
  left:330px;
  top:369px;
  width:79px;
  height:22px;
}
#u1931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1931_input {
  color:#000000;
}
#u1931_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:85px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1931_input:disabled {
  color:grayText;
}
#u1932 {
  position:absolute;
  left:418px;
  top:368px;
  width:300px;
  height:25px;
}
#u1932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1932_input {
  color:#000000;
}
#u1932_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1933 {
  position:absolute;
  left:728px;
  top:371px;
  width:15px;
  height:15px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_ann {
  position:absolute;
  left:736px;
  top:367px;
  width:1px;
  height:1px;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1935 {
  position:absolute;
  left:252px;
  top:412px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1937 {
  position:absolute;
  left:238px;
  top:449px;
  width:923px;
  height:111px;
}
#u1937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:111px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1937_input {
  color:#000000;
}
#u1937_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:929px;
  height:117px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1938 {
  position:absolute;
  left:238px;
  top:587px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
