body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:700px;
}
#u2237 {
  position:absolute;
  left:2px;
  top:342px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2238 {
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:50px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2240 {
  position:absolute;
  left:51px;
  top:80px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2242 {
  position:absolute;
  left:51px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2244 {
  position:absolute;
  left:51px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2246 {
  position:absolute;
  left:51px;
  top:140px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2248 {
  position:absolute;
  left:22px;
  top:715px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2250 {
  position:absolute;
  left:51px;
  top:503px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Oblique', '微软雅黑';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2252 {
  position:absolute;
  left:51px;
  top:563px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u2254 {
  position:absolute;
  left:25px;
  top:27px;
  width:50px;
  height:22px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2256 {
  position:absolute;
  left:51px;
  top:198px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:750px;
}
#u2258 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:750px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:367px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2260 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:50px;
}
#u2261 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2262 {
  position:absolute;
  left:200px;
  top:0px;
  width:1000px;
  height:49px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:933px;
}
#u2264 {
  position:absolute;
  left:210px;
  top:59px;
  width:981px;
  height:933px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:458px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2266 {
  position:absolute;
  left:51px;
  top:444px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2268 {
  position:absolute;
  left:51px;
  top:262px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2270 {
  position:absolute;
  left:121px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2271 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:462px;
}
#u2272 {
  position:absolute;
  left:218px;
  top:613px;
  width:960px;
  height:462px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:223px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2274 {
  position:absolute;
  left:252px;
  top:646px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2276 {
  position:absolute;
  left:238px;
  top:530px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2278 {
  position:absolute;
  left:121px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2280 {
  position:absolute;
  left:238px;
  top:14px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
}
#u2282 {
  position:absolute;
  left:100px;
  top:71px;
  width:90px;
  height:43px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2284 {
  position:absolute;
  left:121px;
  top:79px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2286 {
  position:absolute;
  left:252px;
  top:687px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2288 {
  position:absolute;
  left:252px;
  top:725px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2289 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2290 {
  position:absolute;
  left:330px;
  top:645px;
  width:300px;
  height:25px;
}
#u2290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2290_input {
  color:#000000;
}
#u2290_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2290_ann {
  position:absolute;
  left:623px;
  top:641px;
  width:1px;
  height:1px;
}
#u2291 {
  position:absolute;
  left:330px;
  top:723px;
  width:79px;
  height:22px;
}
#u2291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2291_input {
  color:#000000;
}
#u2291_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:85px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2291_input:disabled {
  color:grayText;
}
#u2292 {
  position:absolute;
  left:418px;
  top:722px;
  width:300px;
  height:25px;
}
#u2292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2292_input {
  color:#000000;
}
#u2292_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2293 {
  position:absolute;
  left:727px;
  top:727px;
  width:15px;
  height:15px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_ann {
  position:absolute;
  left:735px;
  top:723px;
  width:1px;
  height:1px;
}
#u2295 {
  position:absolute;
  left:330px;
  top:681px;
  width:300px;
  height:25px;
}
#u2295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2295_input {
  color:#000000;
}
#u2295_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2295_ann {
  position:absolute;
  left:623px;
  top:677px;
  width:1px;
  height:1px;
}
#u2296 {
  position:absolute;
  left:659px;
  top:681px;
  width:300px;
  height:25px;
}
#u2296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2296_input {
  color:#000000;
}
#u2296_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2296_ann {
  position:absolute;
  left:952px;
  top:677px;
  width:1px;
  height:1px;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2297 {
  position:absolute;
  left:252px;
  top:766px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2299 {
  position:absolute;
  left:330px;
  top:766px;
  width:300px;
  height:170px;
}
#u2300 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2301 {
  position:absolute;
  left:330px;
  top:946px;
  width:70px;
  height:25px;
}
#u2302 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:144px;
}
#u2303 {
  position:absolute;
  left:648px;
  top:766px;
  width:365px;
  height:144px;
  line-height:24px;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2305 {
  position:absolute;
  left:252px;
  top:992px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2307 {
  position:absolute;
  left:330px;
  top:991px;
  width:300px;
  height:22px;
}
#u2307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2307_input {
  color:#000000;
}
#u2307_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2307_input:disabled {
  color:grayText;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2308 {
  position:absolute;
  left:659px;
  top:992px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2309 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2310 {
  position:absolute;
  left:737px;
  top:991px;
  width:300px;
  height:22px;
}
#u2310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2310_input {
  color:#000000;
}
#u2310_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2310_input:disabled {
  color:grayText;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2311 {
  position:absolute;
  left:252px;
  top:1032px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2313 {
  position:absolute;
  left:330px;
  top:1028px;
  width:79px;
  height:25px;
}
#u2313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2313_input {
  color:#000000;
}
#u2313_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:85px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2313_ann {
  position:absolute;
  left:402px;
  top:1024px;
  width:1px;
  height:1px;
}
#u2314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:149px;
}
#u2314 {
  position:absolute;
  left:218px;
  top:1118px;
  width:960px;
  height:149px;
}
#u2315 {
  position:absolute;
  left:2px;
  top:66px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2316 {
  position:absolute;
  left:237px;
  top:1091px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2317 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2318 {
  position:absolute;
  left:238px;
  top:1137px;
  width:923px;
  height:111px;
}
#u2318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:111px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2318_input {
  color:#000000;
}
#u2318_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:929px;
  height:117px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:149px;
}
#u2319 {
  position:absolute;
  left:218px;
  top:1298px;
  width:960px;
  height:149px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:66px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2321 {
  position:absolute;
  left:238px;
  top:1274px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2323 {
  position:absolute;
  left:633px;
  top:1465px;
  width:140px;
  height:25px;
}
#u2323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2323_input {
  color:#333333;
}
#u2323_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:476px;
}
#u2324 {
  position:absolute;
  left:218px;
  top:101px;
  width:960px;
  height:476px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:230px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2326 {
  position:absolute;
  left:238px;
  top:77px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2328 {
  position:absolute;
  left:252px;
  top:114px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2329 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2330 {
  position:absolute;
  left:330px;
  top:113px;
  width:300px;
  height:25px;
}
#u2330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2330_input {
  color:#000000;
}
#u2330_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u2331 {
  position:absolute;
  left:252px;
  top:155px;
  width:69px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:72px;
}
#u2333 {
  position:absolute;
  left:482px;
  top:163px;
  width:365px;
  height:72px;
  line-height:24px;
}
#u2334 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2335 {
  position:absolute;
  left:330px;
  top:155px;
  width:80px;
  height:80px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u2337 {
  position:absolute;
  left:330px;
  top:251px;
  width:70px;
  height:25px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u2339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2339 {
  position:absolute;
  left:252px;
  top:287px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2340 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2341 {
  position:absolute;
  left:330px;
  top:286px;
  width:300px;
  height:22px;
}
#u2341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2341_input {
  color:#000000;
}
#u2341_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2341_input:disabled {
  color:grayText;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u2342 {
  position:absolute;
  left:252px;
  top:332px;
  width:57px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2344 {
  position:absolute;
  left:330px;
  top:328px;
  width:300px;
  height:25px;
}
#u2344_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2344_input {
  color:#000000;
}
#u2344_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2345 {
  position:absolute;
  left:252px;
  top:371px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2347 {
  position:absolute;
  left:330px;
  top:369px;
  width:79px;
  height:22px;
}
#u2347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2347_input {
  color:#000000;
}
#u2347_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:85px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2347_input:disabled {
  color:grayText;
}
#u2348 {
  position:absolute;
  left:418px;
  top:368px;
  width:300px;
  height:25px;
}
#u2348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2348_input {
  color:#000000;
}
#u2348_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2349 {
  position:absolute;
  left:728px;
  top:371px;
  width:15px;
  height:15px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_ann {
  position:absolute;
  left:736px;
  top:367px;
  width:1px;
  height:1px;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2351 {
  position:absolute;
  left:252px;
  top:412px;
  width:58px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2353 {
  position:absolute;
  left:238px;
  top:449px;
  width:923px;
  height:111px;
}
#u2353_input {
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:111px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2353_input {
  color:#000000;
}
#u2353_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:929px;
  height:117px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2354 {
  position:absolute;
  left:238px;
  top:587px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
